
.ipynb_checkpoints/accessibility_check-checkpoint.py
.ipynb_checkpoints/report_scrape-checkpoint.py
accessibility_check.py
.ipynb_checkpoints/report_results-checkpoint.csv
.ipynb_checkpoints/test-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/readability_check-checkpoint.py
*.html
*.ipynb
.ipynb_checkpoints/access_report_results-checkpoint.csv
.ipynb_checkpoints/readability_results-checkpoint.csv
.ipynb_checkpoints/uscb_pull-checkpoint.py
data/.ipynb_checkpoints/county_codes-checkpoint.csv
data/.ipynb_checkpoints/state_codes-checkpoint.csv
*.xml
